.box {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    font-size: 7px;
    margin: 0.5px;
    text-align: center;
}

.selectedBox {
    border: 1px solid red;
}

.commentIcon {
    width: 8px;
    height: 8px;
}