.weeksWrapper {
    display: flex;
    align-items: center;
}

.weeksWrapper>section {
    height: auto;
    width: 400px;
    /* border: 1px solid orangered */
}

.weeksWrapper p {
    font-weight: 100;
    font-size: 18px;
}

.weeksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 20px;
    /* border: 1px solid orangered; */
}

.halfYear {
    display: flex;
    flex-direction: column;
}

.weeksContainer3months {
    display: flex;
    justify-content: center;
    /* border: 1px solid green */
}

@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }
}

.text>p {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 100;
}



.callToAction p {
    font-size: 30px;
    font-weight: 100;
}


.callToAction p {
    margin-bottom: 20px;
}

.callToAction {
    margin-bottom: 20px;
}

.comment {
    font-style: italic;
    font-size: 14px !important;
    color: #6b7785;
}

.timUrbanLink {
    color: #6b7785 !important;

}

.timUrbanLink:hover {
    text-decoration: none !important;
}


.separator {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgb(119, 119, 119), transparent);
    margin-bottom: 100px;
    margin-top: 100px;
}

.highLighted {
    color: #ff8e4d;
    transition: all 0.3s ease;
}

.highLighted>.highLighted:hover {
    text-decoration: none;
}