.container {
    margin: 10px;
}

.colorSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.colorOption {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    border: 2px solid #000;
}

.paletteGroup {
    display: flex;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard syntax */
}