.wrapper {
    max-width: 200px;
    margin-bottom: 35px;
}

/* .buttonsSections {
    border: 2px solid orangered;
} */



/* Editting Section Styles  */

.edittingSection {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edittingSection>button,
textarea {
    width: 100%;
}

.edittingSection>button {
    margin: 5px 0 0 0;
}

/* .edittingSection>p {
    margin-bottom: 30px;
    color: #ff8e4d;
} */

.colorSelector {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid red; */
    height: 390px;
    max-height: 390px;
}

.paletteGroup {
    display: flex;
    flex-direction: column;
}

.colorOption {
    width: auto;
    height: 30px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.colorOption:hover {
    border-radius: 20px;
    height: 35px;
}

.colorOption:not(:hover) {
    flex-shrink: 1;
}


.selected {
    /* border: 2px solid #000; */
    border-radius: 30px;
    font-weight: 700;
    height: 35px;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Standard syntax */
}

/* Buttons Section Styles  */


.mainButton {

    background: transparent;
    border: 0.5px solid #ff8e4d;
    color: #ff8e4d;
    font-size: 16px;
    padding: 3px 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 100;
    font-size: 12px;
    margin-top: 8px;
}

.mainButton:disabled {
    cursor: initial;
    border: 0.5px solid #ccc;
    color: #ccc;
}

.mainButton:not(:disabled):hover {
    background-color: #ff8e4d;
    border-color: #ff8e4d;
    color: white;
    border-radius: 20px;
}