.wrapper {
    /* border: 1px solid red; */
    margin-top: 260px;
    width: 200px;
}

.colorsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.colorWrapper {
    display: flex;
    align-items: center;
}

.colorColor {
    width: 30px;
    height: 30px;
}

.colorInfo {
    display: flex;
    margin-left: 5px;
}